binds {
    Super+Shift+C hotkey-overlay-title="Control Center: Toggle" { spawn "dms" "ipc" "call" "control-center" "toggle"; }
    Super+Shift+S hotkey-overlay-title="Settings: Toggle" { spawn "dms" "ipc" "call" "settings" "toggle"; }
    Ctrl+Shift+Q hotkey-overlay-title="Close Window" { close-window; }
}
