@import url(".config/wofi/colors.css");

* {
  border-radius: 12px;
  font-size: 20px; 
}
#expander-box,
#outer-box
{
  background: @background;
}

#entry:selected {
  background: @color6;
  color: @background;
}

#input {
  padding: 4px 2px;
}
