#window {
  border-radius: 0 0 10px 10px;
  background-color: alpha(@theme_bg_color; 0.8);
}
#expander-box,
#outer-box,
#scroll {
  /* background-color: alpha(@theme_bg_color, 0.8); */
  border-radius: 12px;
}

#entry:selected {
  border: 2px solid @theme_selected_bg_color;
  border-radius: 12px;
}

#input {
  background-color: alpha(@theme_bg_color, 0.8);
  border-radius: 12px;
}
