* {
    /* `otf-font-awesome` is required to be installed for icons */
    border: none;
    border-radius: 0;
    font-family: Hack;
    font-size: 18px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    background: alpha(@theme_base_color, 0.80);
    /* border-bottom: 1px solid @unfocused_borders; */
    color: @theme_text_color;
    transition-property: background-color;
    transition-duration: .5s
}

#workspaces button {
    padding: 0 12px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#window,
/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#cpu, #disk, #backlight, #network, #pulseaudio, 
#custom-media, #temperature, #mpd, #langauge,
#idle_inhibitor, #clock, #custom-spotify, #custom-check_updates {
    padding: 0 8px;
    margin: 0 2px;
}
#custom-check_updates.reboot {
  background-color: #f53c3c;
}

#memory, #battery, #network, #tray {
    padding: 0 4px;
    margin: 0 2px;
}

#network.disconnected {
    background-color: #f53c3c;
}
#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}
#temperature.critical {
    background-color: #eb4d4b;
}
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
