{# wallust.toml needs to include this -#}
{# hyprpanel = { src = "hyprpanel_theme.j2", dst = "~/.config/hyprpanel/wallust_theme.json" -#}
{# To load the theme into hyprpanel, run: -#}
{# hyprpanel ut ~/config/hyprpanel/wallust_theme.json -#}
{# To automatically load the theme with hyprland, add this line -#}
{# exec = hyprpanel ut $HOME/.config/hyprpanel/wallust_theme.json -#}

{#- Have module text match colors of modules/buttons by setting to true -#}
{# {%- set colorful = false -%} #}
{% import 'hyprpanel_test.j2' as settings %}

{%- if background < foreground -%}
{% set border = background | lighten(0.2) -%}
{% set card = background | lighten(0.05) -%}
{% set module_background = background | blend(foreground) | darken(0.25) -%}
{% set disabled = color0 | blend(color15) | darken(0.4) -%}
{% set inactive = color0 | blend(color15) | darken(0.4) -%}
{% set hover = background | lighten(0.10) -%}
{% set puck = background | lighten(0.25) -%}
{% set feinttext = foreground | darken(0.1) -%}
{% set dimtext = foreground | darken(0.2) -%}
{% else -%}
{% set border = background | darken(0.25) -%}
{% set card = background | darken(0.075) -%}
{% set module_background = background | darken(0.075) -%}
{% set disabled = background | darken(0.075) -%}
{% set inactive = background | darken(0.10) -%}
{% set hover = background | darken(0.10) -%}
{% set puck = background | darken(0.25) -%}
{% set feinttext = foreground | lighten(0.1) -%}
{% set dimtext = foreground | lighten(0.2) -%}
{% endif -%}
{% set accent = color4 -%}
{% set battery = color1 | blend(color3) -%}
{% set bluetooth = color6 -%}
{% set cava = color3 -%}
{% set clock = color1 | blend(color4) -%}
{% set cpu = color1 -%}
{% set cputemp = color1 | blend(color4) -%}
{% set directories_left_bottom = color5 -%}
{% set directories_left_middle = color6 -%}
{% set directories_left_top = color4 -%}
{% set directories_right_bottom = color3 -%}
{% set directories_right_middle = color2 -%}
{% set directories_right_top = color1 -%}
{% set gpu = color2 -%}
{% set hyprsunset = color1 | blend(color3) -%}
{% set hypridle = color3 -%}
{% set kblayout = color6 -%}
{% set media = color2 -%}
{% set media_album = color6 -%}
{% set media_artist = color5 -%}
{% set media_song = color2 -%}
{% set microphone = color2 -%}
{% set netstat = color2 -%}
{% set network = color1 | blend(color4) -%}
{% set notifications = color2 -%}
{% set osd = color1 | blend(color4) -%}
{% set power_logout = color2 -%}
{% set power_restart = color3 -%}
{% set power_shutdown = color1 -%}
{% set power_sleep = color4 -%}
{% set profile_name = color1 -%}
{% set ram = color1 | blend(color3) -%}
{% set storage = color6 -%}
{% set submap = color6 -%}
{% set systray = color4 -%}
{% set updates = color1 -%}
{% set volume = color4 -%}
{% set weather = color1 | blend(color4) -%}
{% set weather_accent1 = color4 -%}
{% set weather_accent2 = color6 -%}
{% set windowtitle = color1 -%}
{% set workspaces = color4 -%}
{% set worldclock = color1 | blend(color4) -%}
{
    {% if settings.colorful -%}
    "theme.bar.buttons.volume.text": "{{ volume }}",
    "theme.bar.buttons.network.text": "{{ network }}",
    "theme.bar.buttons.bluetooth.text": "{{ bluetooth }}",
    "theme.bar.buttons.battery.text": "{{ battery }}",
    "theme.bar.buttons.clock.text": "{{ weather }}",
    "theme.bar.buttons.modules.ram.text": "{{ ram }}",
    "theme.bar.buttons.modules.cpu.text": "{{ cpu }}",
    "theme.bar.buttons.modules.storage.text": "{{ storage }}",
    "theme.bar.buttons.modules.updates.text": "{{ updates }}",
    "theme.bar.menus.menu.power.buttons.shutdown.text": "{{ power_shutdown }}",
    "theme.bar.menus.menu.power.buttons.logout.text": "{{ power_logout }}",
    "theme.bar.menus.menu.power.buttons.restart.text": "{{ power_restart }}",
    "theme.bar.menus.menu.power.buttons.sleep.text": "{{ power_sleep }}",
    "theme.bar.buttons.windowtitle.text": "{{ win}}",
    "theme.bar.buttons.text": "{{ accent }}",
    "theme.bar.buttons.modules.submap.text": "{{ submap }}",
    "theme.bar.buttons.modules.hyprsunset.text": "{{ hyprsunset }}",
    "theme.bar.buttons.modules.hypridle.text": "{{ hypridle }}",
    "theme.bar.buttons.modules.cava.text": "{{ cava }}",
    "theme.bar.buttons.modules.microphone.text": "{{ microphone }}",
    "theme.bar.buttons.modules.worldclock.text": "{{ worldclock }}",
    "theme.bar.buttons.volume.output_text": "{{ volume | lighten(0.5) }}",
    "theme.bar.buttons.volume.input_text": "{{ volume | lighten(0.5) }}",
    "theme.bar.buttons.modules.cpuTemp.text": "{{ cputemp | blend(color4) }}",
    "theme.bar.buttons.modules.weather.text": "{{ weather | blend(color4) }}",
    "theme.bar.buttons.modules.netstat.text": "{{ netstat }}",
    "theme.bar.buttons.modules.kbLayout.text": "{{ kblayout }}",
    "theme.bar.menus.menu.clock.time.time": "{{ weather }}",
    "theme.bar.menus.menu.clock.weather.hourly.time": "{{ weather }}",
    "theme.bar.menus.menu.clock.weather.hourly.temperature": "{{ weather }}",
    "theme.bar.menus.menu.clock.weather.stats": "{{ weather }}",
    "theme.bar.buttons.media.text": "{{ media }}",
    "theme.bar.menus.menu.media.album": "{{ media_album }}",
    "theme.bar.menus.menu.media.artist": "{{ media_artist }}",
    "theme.bar.menus.menu.media.song": "{{ media_song }}",
    "theme.bar.menus.menu.dashboard.directories.right.bottom.color": "{{ directories_right_bottom }}",
    "theme.bar.menus.menu.dashboard.directories.right.middle.color": "{{ directories_right_middle }}",
    "theme.bar.menus.menu.dashboard.directories.right.top.color": "{{ directories_right_top }}",
    "theme.bar.menus.menu.dashboard.directories.left.bottom.color": "{{ directories_left_bottom }}",
    "theme.bar.menus.menu.dashboard.directories.left.middle.color": "{{ directories_left_middle }}",
    "theme.bar.menus.menu.dashboard.directories.left.top.color": "{{ directories_left_top }}",
    "theme.bar.menus.menu.dashboard.profile.name": "{{ profile_name }}",
    "theme.bar.buttons.notifications.total": "{{ notifications }}",
    "theme.bar.menus.popover.text": "{{ systray }}",
    {% else -%}
    "theme.bar.buttons.media.text": "{{ foreground }}",
    "theme.bar.buttons.volume.text": "{{ foreground }}",
    "theme.bar.buttons.network.text": "{{ foreground }}",
    "theme.bar.buttons.bluetooth.text": "{{ foreground }}",
    "theme.bar.buttons.battery.text": "{{ foreground }}",
    "theme.bar.buttons.clock.text": "{{ foreground }}",
    "theme.bar.buttons.modules.ram.text": "{{ foreground }}",
    "theme.bar.buttons.modules.cpu.text": "{{ foreground }}",
    "theme.bar.buttons.modules.storage.text": "{{ foreground }}",
    "theme.bar.buttons.modules.updates.text": "{{ foreground }}",
    "theme.bar.menus.menu.power.buttons.shutdown.text": "{{ foreground }}",
    "theme.bar.menus.menu.power.buttons.restart.text": "{{ foreground }}",
    "theme.bar.menus.menu.power.buttons.logout.text": "{{ foreground }}",
    "theme.bar.menus.menu.power.buttons.sleep.text": "{{ foreground }}",
    "theme.bar.buttons.windowtitle.text": "{{ foreground }}",
    "theme.bar.buttons.text": "{{ foreground }}",
    "theme.bar.buttons.modules.submap.text": "{{ foreground }}",
    "theme.bar.buttons.modules.hyprsunset.text": "{{ foreground }}",
    "theme.bar.buttons.modules.hypridle.text": "{{ foreground }}",
    "theme.bar.buttons.modules.cava.text": "{{ foreground }}",
    "theme.bar.buttons.modules.microphone.text": "{{ foreground }}",
    "theme.bar.buttons.modules.worldclock.text": "{{ foreground }}",
    "theme.bar.buttons.volume.output_text": "{{ foreground }}",
    "theme.bar.buttons.volume.input_text": "{{ foreground }}",
    "theme.bar.buttons.modules.cpuTemp.text": "{{ foreground }}", 
    "theme.bar.buttons.modules.weather.text": "{{ foreground }}",
    "theme.bar.buttons.modules.netstat.text": "{{ foreground }}",
    "theme.bar.buttons.modules.kbLayout.text": "{{ foreground }}",
    "theme.bar.menus.menu.clock.time.time": "{{ foreground }}",
    "theme.bar.menus.menu.clock.weather.hourly.time": "{{ foreground }}",
    "theme.bar.menus.menu.clock.weather.hourly.temperature": "{{ foreground }}",
    "theme.bar.menus.menu.clock.weather.stats": "{{ foreground }}",
    "theme.bar.menus.menu.media.album": "{{ foreground | darken(0.3) }}",
    "theme.bar.menus.menu.media.artist": "{{ foreground | darken(0.1) }}",
    "theme.bar.menus.menu.media.song": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.right.bottom.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.right.middle.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.right.top.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.left.bottom.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.left.middle.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.directories.left.top.color": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.profile.name": "{{ foreground }}",
    "theme.bar.buttons.notifications.total": "{{ foreground }}",
    "theme.bar.menus.popover.text": "{{ foreground }}",
    {% endif -%}
    "theme.bar.buttons.workspaces.active": "{{ workspaces }}",
    "theme.bar.buttons.workspaces.available": "{{ background }}",
    "theme.bar.menus.menu.notifications.scrollbar.color": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.pager.label": "{{ notifications | darken(0.2) }}",
    "theme.bar.menus.menu.notifications.pager.button": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.pager.background": "{{ background }}",
    "theme.bar.menus.menu.notifications.switch.puck": "{{ puck }}",
    "theme.bar.menus.menu.notifications.switch.disabled": "{{ disabled }}",
    "theme.bar.menus.menu.notifications.switch.enabled": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.clear": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.switch_divider": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.border": "{{ border }}",
    "theme.bar.menus.menu.notifications.card": "{{ card }}",
    "theme.bar.menus.menu.notifications.background": "{{ background }}",
    "theme.bar.menus.menu.notifications.no_notifications_label": "{{ notifications }}",
    "theme.bar.menus.menu.notifications.label": "{{ notifications }}",
    "theme.bar.menus.menu.power.buttons.sleep.icon": "{{ background }}",
    "theme.bar.menus.menu.power.buttons.sleep.icon_background": "{{ power_sleep }}",
    "theme.bar.menus.menu.power.buttons.sleep.background": "{{ card }}",
    "theme.bar.menus.menu.power.buttons.logout.icon": "{{ background }}",
    "theme.bar.menus.menu.power.buttons.logout.icon_background": "{{ power_logout }}",
    "theme.bar.menus.menu.power.buttons.logout.background": "{{ card }}",
    "theme.bar.menus.menu.power.buttons.restart.icon": "{{ background }}",
    "theme.bar.menus.menu.power.buttons.restart.icon_background": "{{ power_restart }}",
    "theme.bar.menus.menu.power.buttons.restart.background": "{{ card }}",
    "theme.bar.menus.menu.power.buttons.shutdown.icon": "{{ background }}",
    "theme.bar.menus.menu.power.buttons.shutdown.icon_background": "{{ power_shutdown }}",
    "theme.bar.menus.menu.power.buttons.shutdown.background": "{{ card }}",
    "theme.bar.menus.menu.power.border.color": "{{ border }}",
    "theme.bar.menus.menu.power.background.color": "{{ background }}",
    "theme.bar.menus.menu.dashboard.monitors.disk.label": "{{ storage }}",
    "theme.bar.menus.menu.dashboard.monitors.disk.bar": "{{ storage }}",
    "theme.bar.menus.menu.dashboard.monitors.disk.icon": "{{ storage }}",
    "theme.bar.menus.menu.dashboard.monitors.gpu.label": "{{ gpu }}",
    "theme.bar.menus.menu.dashboard.monitors.gpu.bar": "{{ gpu }}",
    "theme.bar.menus.menu.dashboard.monitors.gpu.icon": "{{ gpu }}",
    "theme.bar.menus.menu.dashboard.monitors.ram.label": "{{ ram }}",
    "theme.bar.menus.menu.dashboard.monitors.ram.bar": "{{ ram }}",
    "theme.bar.menus.menu.dashboard.monitors.ram.icon": "{{ ram }}",
    "theme.bar.menus.menu.dashboard.monitors.cpu.label": "{{ cpu }}",
    "theme.bar.menus.menu.dashboard.monitors.cpu.bar": "{{ cpu }}",
    "theme.bar.menus.menu.dashboard.monitors.cpu.icon": "{{ cpu }}",
    "theme.bar.menus.menu.dashboard.monitors.bar_background": "{{ background | lighten(0.1) }}",
    "theme.bar.menus.menu.dashboard.controls.input.text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.controls.input.background": "{{ color1 }}",
    "theme.bar.menus.menu.dashboard.controls.volume.text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.controls.volume.background": "{{ volume }}",
    "theme.bar.menus.menu.dashboard.controls.notifications.text": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.controls.notifications.background": "{{ notifications }}",
    "theme.bar.menus.menu.dashboard.controls.bluetooth.text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.controls.bluetooth.background": "{{ bluetooth }}",
    "theme.bar.menus.menu.dashboard.controls.wifi.text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.controls.wifi.background": "{{ network }}",
    "theme.bar.menus.menu.dashboard.controls.disabled": "{{ disabled }}",
    "theme.bar.menus.menu.dashboard.shortcuts.recording": "{{ color1 }}",
    "theme.bar.menus.menu.dashboard.shortcuts.text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.shortcuts.background": "{{ accent }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.button_text": "{{ background }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.deny": "{{ color1 }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.confirm": "{{ color2 }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.body": "{{ foreground }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.label": "{{ accent }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.border": "{{ border }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.background": "{{ background }}",
    "theme.bar.menus.menu.dashboard.powermenu.confirmation.card": "{{ card }}",
    "theme.bar.menus.menu.dashboard.powermenu.sleep": "{{ power_sleep }}",
    "theme.bar.menus.menu.dashboard.powermenu.logout": "{{ power_logout }}",
    "theme.bar.menus.menu.dashboard.powermenu.restart": "{{ power_restart }}",
    "theme.bar.menus.menu.dashboard.powermenu.shutdown": "{{ power_shutdown }}",
    "theme.bar.menus.menu.dashboard.border.color": "{{ border }}",
    "theme.bar.menus.menu.dashboard.background.color": "{{ background }}",
    "theme.bar.menus.menu.dashboard.card.color": "{{ card }}",
    "theme.bar.menus.menu.clock.weather.hourly.icon": "{{ weather }}",
    "theme.bar.menus.menu.clock.weather.thermometer.extremelycold": "{{ color6 }}",
    "theme.bar.menus.menu.clock.weather.thermometer.cold": "{{ color6 | lighten(0.2) }}",
    "theme.bar.menus.menu.clock.weather.thermometer.moderate": "{{ color5 }}",
    "theme.bar.menus.menu.clock.weather.thermometer.hot": "{{ color1 | lighten(0.1) }}",
    "theme.bar.menus.menu.clock.weather.thermometer.extremelyhot": "{{ color1 }}",
    "theme.bar.menus.menu.clock.weather.status": "{{ color6 }}",
    "theme.bar.menus.menu.clock.weather.temperature": "{{ foreground }}",
    "theme.bar.menus.menu.clock.weather.icon": "{{ weather }}",
    "theme.bar.menus.menu.clock.calendar.contextdays": "{{ weather_accent1 }}",
    "theme.bar.menus.menu.clock.calendar.days": "{{ foreground }}",
    "theme.bar.menus.menu.clock.calendar.currentday": "{{ weather }}",
    "theme.bar.menus.menu.clock.calendar.paginator": "{{ weather }}",
    "theme.bar.menus.menu.clock.calendar.weekdays": "{{ weather }}",
    "theme.bar.menus.menu.clock.calendar.yearmonth": "{{ weather_accent2 }}",
    "theme.bar.menus.menu.clock.time.timeperiod": "{{ weather_accent2 }}",
    "theme.bar.menus.menu.clock.text": "{{ foreground }}",
    "theme.bar.menus.menu.clock.border.color": "{{ border }}",
    "theme.bar.menus.menu.clock.background.color": "{{ background }}",
    "theme.bar.menus.menu.clock.card.color": "{{ card }}",
    "theme.bar.menus.menu.battery.slider.puck": "{{ puck }}",
    "theme.bar.menus.menu.battery.slider.backgroundhover": "{{ hover }}",
    "theme.bar.menus.menu.battery.slider.background": "{{ background | lighten(0.1) }}",
    "theme.bar.menus.menu.battery.slider.primary": "{{ battery | darken(0.4) }}",
    "theme.bar.menus.menu.battery.icons.active": "{{ battery }}",
    "theme.bar.menus.menu.battery.icons.passive": "{{ foreground }}",
    "theme.bar.menus.menu.battery.listitems.active": "{{ battery }}",
    "theme.bar.menus.menu.battery.listitems.passive": "{{ foreground }}",
    "theme.bar.menus.menu.battery.text": "{{ foreground }}",
    "theme.bar.menus.menu.battery.label.color": "{{ battery }}",
    "theme.bar.menus.menu.battery.border.color": "{{ border }}",
    "theme.bar.menus.menu.battery.background.color": "{{ background }}",
    "theme.bar.menus.menu.battery.card.color": "{{ card }}",
    "theme.bar.menus.menu.systray.dropdownmenu.divider": "{{ background }}",
    "theme.bar.menus.menu.systray.dropdownmenu.text": "{{ foreground }}",
    "theme.bar.menus.menu.systray.dropdownmenu.background": "{{ background }}",
    "theme.bar.menus.menu.bluetooth.iconbutton.active": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.iconbutton.passive": "{{ foreground }}",
    "theme.bar.menus.menu.bluetooth.icons.active": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.icons.passive": "{{ foreground }}",
    "theme.bar.menus.menu.bluetooth.listitems.active": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.listitems.passive": "{{ foreground }}",
    "theme.bar.menus.menu.bluetooth.switch.puck": "{{ puck }}",
    "theme.bar.menus.menu.bluetooth.switch.disabled": "{{ disabled }}",
    "theme.bar.menus.menu.bluetooth.switch.enabled": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.switch_divider": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.status": "{{ bluetooth | darken(0.2) }}",
    "theme.bar.menus.menu.bluetooth.text": "{{ foreground }}",
    "theme.bar.menus.menu.bluetooth.label.color": "{{ bluetooth }}",
    "theme.bar.menus.menu.bluetooth.border.color": "{{ border }}",
    "theme.bar.menus.menu.bluetooth.background.color": "{{ background }}",
    "theme.bar.menus.menu.bluetooth.card.color": "{{ card }}",
    "theme.bar.menus.menu.network.iconbuttons.active": "{{ network }}",
    "theme.bar.menus.menu.network.iconbuttons.passive": "{{ card }}",
    "theme.bar.menus.menu.network.icons.active": "{{ network }}",
    "theme.bar.menus.menu.network.icons.passive": "{{ foreground }}",
    "theme.bar.menus.menu.network.listitems.active": "{{ network }}",
    "theme.bar.menus.menu.network.listitems.passive": "{{ foreground }}",
    "theme.bar.menus.menu.network.status.color": "{{ network | darken(0.2) }}",
    "theme.bar.menus.menu.network.text": "{{ foreground }}",
    "theme.bar.menus.menu.network.label.color": "{{ network }}",
    "theme.bar.menus.menu.network.border.color": "{{ border }}",
    "theme.bar.menus.menu.network.background.color": "{{ background }}",
    "theme.bar.menus.menu.network.card.color": "{{ card }}",
    "theme.bar.menus.menu.volume.input_slider.puck": "{{ puck }}",
    "theme.bar.menus.menu.volume.input_slider.backgroundhover": "{{ hover }}",
    "theme.bar.menus.menu.volume.input_slider.background": "{{ background | lighten(0.1) }}",
    "theme.bar.menus.menu.volume.input_slider.primary": "{{ volume | darken(0.4) }}",
    "theme.bar.menus.menu.volume.audio_slider.puck": "{{ puck }}",
    "theme.bar.menus.menu.volume.audio_slider.backgroundhover": "{{ hover }}",
    "theme.bar.menus.menu.volume.audio_slider.background": "{{ background | lighten(0.1) }}",
    "theme.bar.menus.menu.volume.audio_slider.primary": "{{ volume | darken(0.4) }}",
    "theme.bar.menus.menu.volume.icons.active": "{{ volume }}",
    "theme.bar.menus.menu.volume.icons.passive": "{{ background | lighten(0.2) }}",
    "theme.bar.menus.menu.volume.iconbutton.active": "{{ volume }}",
    "theme.bar.menus.menu.volume.iconbutton.passive": "{{ foreground }}",
    "theme.bar.menus.menu.volume.listitems.active": "{{ volume }}",
    "theme.bar.menus.menu.volume.listitems.passive": "{{ foreground }}",
    "theme.bar.menus.menu.volume.text": "{{ foreground }}",
    "theme.bar.menus.menu.volume.label.color": "{{ volume }}",
    "theme.bar.menus.menu.volume.border.color": "{{ border }}",
    "theme.bar.menus.menu.volume.background.color": "{{ background }}",
    "theme.bar.menus.menu.volume.card.color": "{{ card }}",
    "theme.bar.menus.menu.media.slider.puck": "{{ puck }}",
    "theme.bar.menus.menu.media.slider.backgroundhover": "{{ hover }}",
    "theme.bar.menus.menu.media.slider.background": "{{ background | lighten(0.1) }}",
    "theme.bar.menus.menu.media.slider.primary": "{{ media_album }}",
    "theme.bar.menus.menu.media.buttons.text": "{{ background }}",
    "theme.bar.menus.menu.media.buttons.background": "{{ media }}",
    "theme.bar.menus.menu.media.buttons.enabled": "{{ media }}",
    "theme.bar.menus.menu.media.buttons.inactive": "{{ inactive }}",
    "theme.bar.menus.menu.media.border.color": "{{ border }}",
    "theme.bar.menus.menu.media.card.color": "{{ card }}",
    "theme.bar.menus.menu.media.background.color": "{{ background }}",
    "theme.bar.menus.tooltip.text": "{{ foreground }}",
    "theme.bar.menus.tooltip.background": "{{ background }}",
    "theme.bar.menus.dropdownmenu.divider": "{{ background }}",
    "theme.bar.menus.dropdownmenu.text": "{{ foreground }}",
    "theme.bar.menus.dropdownmenu.background": "{{ background }}",
    "theme.bar.menus.slider.puck": "{{ puck }}",
    "theme.bar.menus.slider.backgroundhover": "{{ hover }}",
    "theme.bar.menus.slider.background": "{{ module_background }}",
    "theme.bar.menus.slider.primary": "{{ accent }}",
    "theme.bar.menus.progressbar.background": "{{ background }}",
    "theme.bar.menus.progressbar.foreground": "{{ accent }}",
    "theme.bar.menus.iconbuttons.active": "{{ accent }}",
    "theme.bar.menus.iconbuttons.passive": "{{ background | lighten(0.25) }}",
    "theme.bar.menus.buttons.text": "{{ color0 }}",
    "theme.bar.menus.buttons.disabled": "{{ disabled }}",
    "theme.bar.menus.buttons.active": "{{ accent }}",
    "theme.bar.menus.buttons.default": "{{ accent }}",
    "theme.bar.menus.check_radio_button.active": "{{ accent | darken(0.1) }}",
    "theme.bar.menus.check_radio_button.background": "{{ background }}",
    "theme.bar.menus.switch.puck": "{{ puck }}",
    "theme.bar.menus.switch.disabled": "{{ disabled }}",
    "theme.bar.menus.switch.enabled": "{{ accent }}",
    "theme.bar.menus.icons.active": "{{ accent }}",
    "theme.bar.menus.icons.passive": "{{ foreground }}",
    "theme.bar.menus.listitems.active": "{{ accent }}",
    "theme.bar.menus.listitems.passive": "{{ foreground }}",
    "theme.bar.menus.popover.border": "{{ border }}",
    "theme.bar.menus.popover.background": "{{ background }}",
    "theme.bar.menus.label": "{{ accent }}",
    "theme.bar.menus.feinttext": "{{ feinttext }}",
    "theme.bar.menus.dimtext": "{{ dimtext }}",
    "theme.bar.menus.text": "{{ foreground }}",
    "theme.bar.menus.border.color": "{{ border }}",
    "theme.bar.menus.cards": "{{ card }}",
    "theme.bar.menus.background": "{{ background }}",
    "theme.bar.buttons.modules.power.icon_background": "{{ power_shutdown }}",
    "theme.bar.buttons.modules.power.icon": "{{ power_shutdown }}",
    "theme.bar.buttons.modules.power.background": "{{ module_background }}",
    "theme.bar.buttons.modules.power.border": "{{ power_shutdown }}",
    "theme.bar.buttons.modules.weather.icon_background": "{{ weather }}",
    "theme.bar.buttons.modules.weather.icon": "{{ weather }}",
    "theme.bar.buttons.modules.weather.background": "{{ module_background }}",
    "theme.bar.buttons.modules.weather.border": "{{ weather }}",
    "theme.bar.buttons.modules.updates.icon_background": "{{ updates }}",
    "theme.bar.buttons.modules.updates.icon": "{{ updates }}",
    "theme.bar.buttons.modules.updates.background": "{{ module_background }}",
    "theme.bar.buttons.modules.updates.border": "{{ kbLayout }}",
    "theme.bar.buttons.modules.kbLayout.icon_background": "{{ kbLayout }}",
    "theme.bar.buttons.modules.kbLayout.icon": "{{ kbLayout }}",
    "theme.bar.buttons.modules.kbLayout.background": "{{ module_background }}",
    "theme.bar.buttons.modules.kbLayout.border": "{{ kbLayout }}",
    "theme.bar.buttons.modules.netstat.icon_background": "{{ netstat }}",
    "theme.bar.buttons.modules.netstat.icon": "{{ netstat }}",
    "theme.bar.buttons.modules.netstat.background": "{{ module_background }}",
    "theme.bar.buttons.modules.netstat.border": "{{ netstat }}",
    "theme.bar.buttons.modules.storage.icon_background": "{{ storage }}",
    "theme.bar.buttons.modules.storage.icon": "{{ storage }}",
    "theme.bar.buttons.modules.storage.background": "{{ module_background }}",
    "theme.bar.buttons.modules.storage.border": "{{ storage }}",
    "theme.bar.buttons.modules.cpu.icon_background": "{{ cpu }}",
    "theme.bar.buttons.modules.cpu.icon": "{{ cpu }}",
    "theme.bar.buttons.modules.cpu.background": "{{ module_background }}",
    "theme.bar.buttons.modules.cpu.border": "{{ cpu }}",
    "theme.bar.buttons.modules.ram.icon_background": "{{ ram }}",
    "theme.bar.buttons.modules.ram.icon": "{{ ram }}",
    "theme.bar.buttons.modules.ram.background": "{{ module_background }}",
    "theme.bar.buttons.modules.ram.border": "{{ ram }}",
    "theme.bar.buttons.notifications.icon_background": "{{ notifications }}",
    "theme.bar.buttons.notifications.icon": "{{ notifications }}",
    "theme.bar.buttons.notifications.background": "{{ module_background }}",
    "theme.bar.buttons.notifications.border": "{{ notifications }}",
    "theme.bar.buttons.clock.icon_background": "{{ weather }}",
    "theme.bar.buttons.clock.icon": "{{ weather }}",
    "theme.bar.buttons.clock.background": "{{ module_background }}",
    "theme.bar.buttons.clock.border": "{{ weather }}",
    "theme.bar.buttons.battery.icon_background": "{{ battery }}",
    "theme.bar.buttons.battery.icon": "{{ battery }}",
    "theme.bar.buttons.battery.background": "{{ module_background }}",
    "theme.bar.buttons.battery.border": "{{ battery }}",
    "theme.bar.buttons.systray.background": "{{ module_background }}",
    "theme.bar.buttons.systray.border": "{{ systray }}",
    "theme.bar.buttons.bluetooth.icon_background": "{{ bluetooth }}",
    "theme.bar.buttons.bluetooth.icon": "{{ bluetooth }}",
    "theme.bar.buttons.bluetooth.background": "{{ module_background }}",
    "theme.bar.buttons.bluetooth.border": "{{ bluetooth }}",
    "theme.bar.buttons.network.icon_background": "{{ network }}",
    "theme.bar.buttons.network.icon": "{{ network }}",
    "theme.bar.buttons.network.background": "{{ module_background }}",
    "theme.bar.buttons.network.border": "{{ network }}",
    "theme.bar.buttons.volume.icon_background": "{{ volume }}",
    "theme.bar.buttons.volume.icon": "{{ volume }}",
    "theme.bar.buttons.volume.background": "{{ module_background }}",
    "theme.bar.buttons.volume.border": "{{ volume }}",
    "theme.bar.buttons.media.icon_background": "{{ media }}",
    "theme.bar.buttons.media.icon": "{{ media }}",
    "theme.bar.buttons.media.background": "{{ module_background }}",
    "theme.bar.buttons.media.border": "{{ media }}",
    "theme.bar.buttons.windowtitle.icon_background": "{{ windowtitle }}",
    "theme.bar.buttons.windowtitle.icon": "{{ windowtitle }}",
    "theme.bar.buttons.windowtitle.border": "{{ windowtitle }}",
    "theme.bar.buttons.windowtitle.background": "{{ module_background }}",
    "theme.bar.buttons.workspaces.numbered_active_underline_color": "{{ workspaces }}",
    "theme.bar.buttons.workspaces.numbered_active_highlighted_text_color": "{{ workspaces }}",
    "theme.bar.buttons.workspaces.hover": "{{ workspaces }}",
    "theme.bar.buttons.workspaces.occupied": "{{ workspaces | darken(0.4) }}",
    "theme.bar.buttons.workspaces.border": "{{ workspaces }}",
    "theme.bar.buttons.workspaces.background": "{{ module_background }}",
    "theme.bar.buttons.dashboard.icon": "{{ background }}",
    "theme.bar.buttons.dashboard.border": "{{ accent }}",
    "theme.bar.buttons.dashboard.background": "{{ accent }}",
    "theme.bar.buttons.icon": "{{ background }}",
    "theme.bar.buttons.hover": "{{ accent }}",
    "theme.bar.buttons.icon_background": "{{ accent }}",
    "theme.bar.buttons.background": "{{ module_background }}",
    "theme.bar.buttons.style": "default",
    "theme.bar.background": "{{ background }}",
    "theme.osd.label": "{{ osd }}",
    "theme.osd.icon": "{{ background }}",
    "theme.osd.bar_overflow_color": "{{ osd | darken(0.1) }}",
    "theme.osd.bar_empty_color": "{{ background | lighten(0.1) }}",
    "theme.osd.bar_color": "{{ osd }}",
    "theme.osd.icon_container": "{{ osd }}",
    "theme.osd.bar_container": "{{ background }}",
    "theme.notification.close_button.label": "{{ background }}",
    "theme.notification.close_button.background": "{{ notifications }}",
    "theme.notification.labelicon": "{{ notifications }}",
    "theme.notification.text": "{{ foreground }}",
    "theme.notification.time": "{{ foreground }}",
    "theme.notification.border": "{{ background }}",
    "theme.notification.label": "{{ notifications }}",
    "theme.notification.actions.text": "{{ background }}",
    "theme.notification.actions.background": "{{ notifications }}",
    "theme.notification.background": "{{ card }}",
    "theme.bar.buttons.modules.submap.background": "{{ module_background }}",
    "theme.bar.buttons.modules.submap.border": "{{ submap }}",
    "theme.bar.buttons.modules.submap.icon": "{{ submap }}",
    "theme.bar.buttons.modules.submap.icon_background": "{{ submap }}",
    "theme.bar.menus.menu.network.switch.enabled": "{{ network }}",
    "theme.bar.menus.menu.network.switch.disabled": "{{ disabled }}",
    "theme.bar.menus.menu.network.switch.puck": "{{ puck }}",
    "theme.bar.buttons.systray.customIcon": "{{ foreground }}",
    "theme.bar.border.color": "{{ border }}", 
    "theme.bar.menus.menu.media.timestamp": "{{ foreground }}",
    "theme.bar.buttons.borderColor": "{{ accent }}",
    "theme.bar.buttons.modules.hyprsunset.icon": "{{ hyprsunset }}",
    "theme.bar.buttons.modules.hyprsunset.background": "{{ module_background }}",
    "theme.bar.buttons.modules.hyprsunset.icon_background": "{{ hyprsunset }}",
    "theme.bar.buttons.modules.hyprsunset.border": "{{ hyprsunset }}",
    "theme.bar.buttons.modules.hypridle.icon": "{{ hypridle }}",
    "theme.bar.buttons.modules.hypridle.background": "{{ module_background }}",
    "theme.bar.buttons.modules.hypridle.icon_background": "{{ hypridle }}",
    "theme.bar.buttons.modules.hypridle.border": "{{ hypridle }}",
    "theme.bar.menus.menu.network.scroller.color": "{{ network }}",
    "theme.bar.menus.menu.bluetooth.scroller.color": "{{ bluetooth }}",
    "theme.bar.buttons.modules.cava.background": "{{ module_background }}",
    "theme.bar.buttons.modules.cava.icon_background": "{{ cava }}",
    "theme.bar.buttons.modules.cava.icon": "{{ cava }}",
    "theme.bar.buttons.modules.cava.border": "{{ cava }}",
    "theme.bar.buttons.modules.microphone.border": "{{ microphone }}",
    "theme.bar.buttons.modules.microphone.background": "{{ module_background }}",
    "theme.bar.buttons.modules.microphone.icon": "{{ microphone }}",
    "theme.bar.buttons.modules.microphone.icon_background": "{{ background }}",
    "theme.bar.buttons.modules.worldclock.background": "{{ module_background }}",
    "theme.bar.buttons.modules.worldclock.icon_background": "{{ worldclock }}",
    "theme.bar.buttons.modules.worldclock.icon": "{{ worldclock }}",
    "theme.bar.buttons.modules.worldclock.border": "{{ worldclock }}",
    "theme.bar.buttons.notifications.hover": "{{ hover }}",
    "theme.bar.buttons.clock.hover": "{{ hover }}",
    "theme.bar.buttons.battery.hover": "{{ hover }}",
    "theme.bar.buttons.systray.hover": "{{ hover }}",
    "theme.bar.buttons.bluetooth.hover": "{{ hover }}",
    "theme.bar.buttons.network.hover": "{{ hover }}",
    "theme.bar.buttons.volume.hover": "{{ hover }}",
    "theme.bar.buttons.media.hover": "{{ hover }}",
    "theme.bar.buttons.windowtitle.hover": "{{ background | lighten(0.2) }}",
    "theme.bar.buttons.workspaces.numbered_active_text_color": "{{ workspaces }}",
    "theme.bar.buttons.dashboard.hover": "{{ hover }}",
    "theme.bar.menus.menu.power.card.color": "{{ card }}",
    "theme.bar.buttons.modules.cpu.hover": "{{ hover }}",
    "theme.bar.buttons.volume.output_icon": "{{ background }}",
    "theme.bar.buttons.volume.input_icon": "{{ background }}",
    "theme.bar.buttons.volume.separator": "{{ volume }}",
    "theme.bar.buttons.modules.cpuTemp.icon_background": "{{ cputemp | blend(color4) }}",
    "theme.bar.buttons.modules.cpuTemp.icon": "{{ cputemp }}",
    "theme.bar.buttons.modules.cpuTemp.border": "{{ cputemp }}",
    "theme.osd.border.color": "{{ border }}"
  }
