/* This is the grouping module for modules on the right side of the bar */
/* TODO: Rename this and move to another folder */
#menu {
  background: @background;
  border-radius: 6px;
}

#batteries:hover,
#idle_inhibitor:hover,
#network:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover {
    color: @color6;
}
#network.disconnected {
    background-color: alpha(@color3, 0.80);
}
#pulseaudio-slider {
}

#pulseaudio-slider trough {
  background-color: @inactive;
  min-width: 80px;
}

#pulseaudio-slider slider {
  background-color: @color6;
  box-shadow: none;
  padding: 0px;
  opacity: 1;
  border-radius: 30px;
}

#pulseaudio-slider highlight {
  background-color: @color6;
  padding: 2px;
}

#pulseaudio.muted {
    color: @color1;
}

#idle_inhibitor.activated {
    color: @color6;
}

#battery.critical:not(.charging) {
    background-color: alpha(@color3, 0.80);
    color: @foreground;
}

