#custom-dunst-notification:hover,
#custom-swaync-notification:hover,
#custom-notification:hover {
  color: @notifications;
}

#clock-notify {
  background: @module_background;
  border-radius: 6px;
}
