#custom-power {
  font-weight: bold;
  color: @color1;
  /* padding-right: 4px; */
  padding: 0px 6px;
  border-radius: 6px;
  /* border: 2px solid @background; */
  margin: 6px 0px;
}
#custom-power:hover {
  background: @color1;
  color: @background;
  /* border: 2px solid @color1; */
}
