#tray > .active {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: alpha(@color3, 0.80);
}

#tray menu * {
    border-radius: 6px;
    box-shadow: none;
}

#tray menu {
    color: @foreground;
    border: 1px solid @accent;
    margin: 4px 2px;
    border-radius: 6px;
}

#tray menuitem {
    padding: 4px;
}

#tray menuitem:hover {
    color: @background;
}

