#workspaces {
  padding: 0px 8px;
  margin: 4px 4px;
}

#workspaces button {
  padding: 0px 5px;
  color: shade(@accent, 1.0);
  border-radius: 12px;
  margin: 5px 2px;
  padding: 0px 1px;
}

#workspaces button.empty {
  color: @inactive;
}

#workspaces button.visible {
  background: @accent;
  color: @module_background;
  border: 1px solid @accent;
  font-weight: bold;
}

#workspaces button.active {
  background: @accent;
  border-radius: 12px;
  color: @module_background;
  font-weight: bold;
  margin: 5px 2px;
  padding: 0px 16px;
  transition: 0.5s ease-in-out;
}

#workspaces button.urgent {
  color: @color1;
}

#workspaces button:hover{
    border-radius: 12px;
    background: @accent;
    color: @module_background;
    font-weight: bold;
}

#workspaces button:hover {
    margin: 5px 2px;
    padding: 0px 1px;
}
