#workspaces {
  margin: 4px 2px;
}

#workspaces button {
  padding: 1px 4px;
  color: @foreground;
  border-radius: 8px;
  border: 2px solid alpha(@background, 0.00);
  margin: 0px 2px;
}

#workspaces button.empty {
  color: @inactive;
}

#workspaces .taskbar-window:hover,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.visible {
  color: @accent;
  font-weight: bold;
  border: 2px solid @accent;
}

#workspaces button:hover,
#workspaces button.active {
  background: @accent;
  color: @background;
  /* color: @accent; */
}

#workspaces button.urgent {
  color: @color1;
}
