  "theme.bar.buttons.volume.text": "{{ volume }}",
  "theme.bar.buttons.network.text": "{{ network }}",
  "theme.bar.buttons.bluetooth.text": "{{ bluetooth }}",
  "theme.bar.buttons.battery.text": "{{ battery }}",
  "theme.bar.buttons.clock.text": "{{ weather }}",
  "theme.bar.buttons.modules.ram.text": "{{ ram }}",
  "theme.bar.buttons.modules.cpu.text": "{{ cpu }}",
  "theme.bar.buttons.modules.storage.text": "{{ storage }}",
  "theme.bar.buttons.modules.updates.text": "{{ updates }}",
  "theme.bar.menus.menu.power.buttons.shutdown.text": "{{ power_shutdown }}",
  "theme.bar.menus.menu.power.buttons.logout.text": "{{ power_logout }}",
  "theme.bar.menus.menu.power.buttons.restart.text": "{{ power_restart }}",
  "theme.bar.menus.menu.power.buttons.sleep.text": "{{ power_sleep }}",
  "theme.bar.buttons.windowtitle.text": "{{ win}}",
  "theme.bar.buttons.text": "{{ accent }}",
  "theme.bar.buttons.modules.submap.text": "{{ submap }}",
  "theme.bar.buttons.modules.hyprsunset.text": "{{ hyprsunset }}",
  "theme.bar.buttons.modules.hypridle.text": "{{ hypridle }}",
  "theme.bar.buttons.modules.cava.text": "{{ cava }}",
  "theme.bar.buttons.modules.microphone.text": "{{ microphone }}",
  "theme.bar.buttons.modules.worldclock.text": "{{ worldclock }}",
  "theme.bar.buttons.volume.output_text": "{{ volume | lighten(0.5) }}",
  "theme.bar.buttons.volume.input_text": "{{ volume | lighten(0.5) }}",
  "theme.bar.buttons.modules.cpuTemp.text": "{{ cputemp | blend(color4) }}",
  "theme.bar.buttons.modules.weather.text": "{{ weather | blend(color4) }}",
  "theme.bar.buttons.modules.netstat.text": "{{ netstat }}",
  "theme.bar.buttons.modules.kbLayout.text": "{{ kblayout }}",
  "theme.bar.menus.menu.clock.time.time": "{{ weather }}",
  "theme.bar.menus.menu.clock.weather.hourly.time": "{{ weather }}",
  "theme.bar.menus.menu.clock.weather.hourly.temperature": "{{ weather }}",
  "theme.bar.menus.menu.clock.weather.stats": "{{ weather }}",
  "theme.bar.buttons.media.text": "{{ media }}",
  "theme.bar.menus.menu.media.album": "{{ media_album }}",
  "theme.bar.menus.menu.media.artist": "{{ media_artist }}",
  "theme.bar.menus.menu.media.song": "{{ media_song }}",
  "theme.bar.menus.menu.dashboard.directories.right.bottom.color": "{{ directories_right_bottom }}",
  "theme.bar.menus.menu.dashboard.directories.right.middle.color": "{{ directories_right_middle }}",
  "theme.bar.menus.menu.dashboard.directories.right.top.color": "{{ directories_right_top }}",
  "theme.bar.menus.menu.dashboard.directories.left.bottom.color": "{{ directories_left_bottom }}",
  "theme.bar.menus.menu.dashboard.directories.left.middle.color": "{{ directories_left_middle }}",
  "theme.bar.menus.menu.dashboard.directories.left.top.color": "{{ directories_left_top }}",
  "theme.bar.menus.menu.dashboard.profile.name": "{{ profile_name }}",
  "theme.bar.buttons.notifications.total": "{{ notifications }}",
  "theme.bar.menus.popover.text": "{{ systray }}",
