"theme.bar.buttons.media.text": "{{ foreground }}",
"theme.bar.buttons.volume.text": "{{ foreground }}",
"theme.bar.buttons.network.text": "{{ foreground }}",
"theme.bar.buttons.bluetooth.text": "{{ foreground }}",
"theme.bar.buttons.battery.text": "{{ foreground }}",
"theme.bar.buttons.clock.text": "{{ foreground }}",
"theme.bar.buttons.modules.ram.text": "{{ foreground }}",
"theme.bar.buttons.modules.cpu.text": "{{ foreground }}",
"theme.bar.buttons.modules.storage.text": "{{ foreground }}",
"theme.bar.buttons.modules.updates.text": "{{ foreground }}",
"theme.bar.menus.menu.power.buttons.shutdown.text": "{{ foreground }}",
"theme.bar.menus.menu.power.buttons.restart.text": "{{ foreground }}",
"theme.bar.menus.menu.power.buttons.logout.text": "{{ foreground }}",
"theme.bar.menus.menu.power.buttons.sleep.text": "{{ foreground }}",
"theme.bar.buttons.windowtitle.text": "{{ foreground }}",
"theme.bar.buttons.text": "{{ foreground }}",
"theme.bar.buttons.modules.submap.text": "{{ foreground }}",
"theme.bar.buttons.modules.hyprsunset.text": "{{ foreground }}",
"theme.bar.buttons.modules.hypridle.text": "{{ foreground }}",
"theme.bar.buttons.modules.cava.text": "{{ foreground }}",
"theme.bar.buttons.modules.microphone.text": "{{ foreground }}",
"theme.bar.buttons.modules.worldclock.text": "{{ foreground }}",
"theme.bar.buttons.volume.output_text": "{{ foreground }}",
"theme.bar.buttons.volume.input_text": "{{ foreground }}",
"theme.bar.buttons.modules.cpuTemp.text": "{{ foreground }}", 
"theme.bar.buttons.modules.weather.text": "{{ foreground }}",
"theme.bar.buttons.modules.netstat.text": "{{ foreground }}",
"theme.bar.buttons.modules.kbLayout.text": "{{ foreground }}",
"theme.bar.menus.menu.clock.time.time": "{{ foreground }}",
"theme.bar.menus.menu.clock.weather.hourly.time": "{{ foreground }}",
"theme.bar.menus.menu.clock.weather.hourly.temperature": "{{ foreground }}",
"theme.bar.menus.menu.clock.weather.stats": "{{ foreground }}",
"theme.bar.menus.menu.media.album": "{{ foreground | darken(0.3) }}",
"theme.bar.menus.menu.media.artist": "{{ foreground | darken(0.1) }}",
"theme.bar.menus.menu.media.song": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.right.bottom.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.right.middle.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.right.top.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.left.bottom.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.left.middle.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.directories.left.top.color": "{{ foreground }}",
"theme.bar.menus.menu.dashboard.profile.name": "{{ foreground }}",
"theme.bar.buttons.notifications.total": "{{ foreground }}",
"theme.bar.menus.popover.text": "{{ foreground }}",

