{% set accent = color4 -%}
{% set battery = color1 | blend(color3) -%}
{% set bluetooth = color6 -%}
{% set cava = color3 -%}
{% set clock = color1 | blend(color4) -%}
{% set cpu = color1 -%}
{% set cputemp = color1 | blend(color4) -%}
{% set directories_left_bottom = color5 -%}
{% set directories_left_middle = color6 -%}
{% set directories_left_top = color4 -%}
{% set directories_right_bottom = color3 -%}
{% set directories_right_middle = color2 -%}
{% set directories_right_top = color1 -%}
{% set gpu = color2 -%}
{% set hyprsunset = color1 | blend(color3) -%}
{% set hypridle = color3 -%}
{% set kblayout = color6 -%}
{% set media = color2 -%}
{% set media_album = color6 -%}
{% set media_artist = color5 -%}
{% set media_song = color2 -%}
{% set microphone = color2 -%}
{% set netstat = color2 -%}
{% set network = color1 | blend(color4) -%}
{% set notifications = color2 -%}
{% set osd = color1 | blend(color4) -%}
{% set power_logout = color2 -%}
{% set power_restart = color3 -%}
{% set power_shutdown = color1 -%}
{% set power_sleep = color4 -%}
{% set profile_name = color1 -%}
{% set ram = color1 | blend(color3) -%}
{% set storage = color6 -%}
{% set submap = color6 -%}
{% set systray = color4 -%}
{% set updates = color1 -%}
{% set volume = color4 -%}
{% set weather = color1 | blend(color4) -%}
{% set weather_accent1 = color4 -%}
{% set weather_accent2 = color6 -%}
{% set windowtitle = color1 -%}
{% set workspaces = color4 -%}
{% set worldclock = color1 | blend(color4) -%}

