binds {
    Mod+Shift+Slash                                            { show-hotkey-overlay; }

    Mod+T hotkey-overlay-title="Open Terminal"                 { spawn "foot"; }
    Mod+E hotkey-overlay-title="Open File Manager"             { spawn "thunar"; }
    Mod+B hotkey-overlay-title="Open Browser"                  { spawn "chromium";}

    Ctrl+Shift+Escape repeat=false hotkey-overlay-title="Open SysMonitor"   { spawn-sh "pkill btop || foot --app-id btop -e btop";}
    Mod+Shift+Return repeat=false hotkey-overlay-title="Open Term FM"       { spawn-sh "foot --app-id float -e ranger";}

    Mod+O repeat=false                                         { toggle-overview; }

    Mod+Q                                                      { close-window; }

    Mod+H                                                      { focus-column-left; }
    // Mod+J     { focus-window-down; }
    // Mod+K     { focus-window-up; }
    Mod+L                                                      { focus-column-right; }
    Mod+J                                                      { focus-window-or-workspace-down; }
    Mod+K                                                      { focus-window-or-workspace-up; }

    Mod+Shift+H                                                { move-column-left; }
    // Mod+Shift+J     { move-window-down; }
    // Mod+Shift+K     { move-window-up; }
    Mod+Shift+L                                                { move-column-right; }
    Mod+Shift+J                                                { move-window-down-or-to-workspace-down; }
    Mod+Shift+K                                                { move-window-up-or-to-workspace-up; }

    Mod+Shift+M hotkey-overlay-title="Run custom menu"         { spawn "~/.local/bin/scripts/window_manager/menu.sh"; }
    Mod+Shift+W hotkey-overlay-title="Run custom work menu"    { spawn "~/.local/bin/scripts/window_manager/work_menu.sh"; }
    Mod+Shift+B hotkey-overlay-title="View Chromium bookmarks" { spawn-sh "~/.local/bin/scripts/window_manager/bookmarks.py ~/.config/chromium/Default/Bookmarks -r 'fuzzel --dmenu --prompt=Bookmarks: ' -b 'chromium'"; }

    Mod+Home                                                   { focus-column-first; }
    Mod+End                                                    { focus-column-last; }
    Mod+Ctrl+Home                                              { move-column-to-first; }
    Mod+Ctrl+End                                               { move-column-to-last; }

    Alt+H                                                      { focus-monitor-left; }
    Alt+J                                                      { focus-monitor-down; }
    Alt+K                                                      { focus-monitor-up; }
    Alt+L                                                      { focus-monitor-right; }

    Alt+Shift+H                                                { move-column-to-monitor-left; }
    Alt+Shift+J                                                { move-column-to-monitor-down; }
    Alt+Shift+K                                                { move-column-to-monitor-up; }
    Alt+Shift+L                                                { move-column-to-monitor-right; }

    Alt+Ctrl+H                                                 { move-workspace-to-monitor-left; }
    Alt+Ctrl+L                                                 { move-workspace-to-monitor-right; }
    Alt+Ctrl+K                                                 { move-workspace-down; }
    Alt+Ctrl+J                                                 { move-workspace-up; }


    Mod+WheelScrollDown      cooldown-ms=150                   { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150                   { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150                   { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150                   { move-column-to-workspace-up; }

    Mod+WheelScrollRight                                       { focus-column-right; }
    Mod+WheelScrollLeft                                        { focus-column-left; }
    Mod+Ctrl+WheelScrollRight                                  { move-column-right; }
    Mod+Ctrl+WheelScrollLeft                                   { move-column-left; }

    Mod+Shift+WheelScrollDown                                  { focus-column-right; }
    Mod+Shift+WheelScrollUp                                    { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown                             { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp                               { move-column-left; }

    Mod+1                                                      { focus-workspace 1; }
    Mod+2                                                      { focus-workspace 2; }
    Mod+3                                                      { focus-workspace 3; }
    Mod+4                                                      { focus-workspace 4; }
    Mod+5                                                      { focus-workspace 5; }
    Mod+6                                                      { focus-workspace 6; }
    Mod+7                                                      { focus-workspace 7; }
    Mod+8                                                      { focus-workspace 8; }
    Mod+9                                                      { focus-workspace 9; }

    Mod+Shift+1                                                { move-column-to-workspace 1; }
    Mod+Shift+2                                                { move-column-to-workspace 2; }
    Mod+Shift+3                                                { move-column-to-workspace 3; }
    Mod+Shift+4                                                { move-column-to-workspace 4; }
    Mod+Shift+5                                                { move-column-to-workspace 5; }
    Mod+Shift+6                                                { move-column-to-workspace 6; }
    Mod+Shift+7                                                { move-column-to-workspace 7; }
    Mod+Shift+8                                                { move-column-to-workspace 8; }
    Mod+Shift+9                                                { move-column-to-workspace 9; }

    Mod+Comma                                                  { consume-or-expel-window-left; }
    Mod+Period                                                 { consume-or-expel-window-right; }

    Mod+R                                                      { switch-preset-column-width; }
    Mod+Shift+R                                                { switch-preset-window-height; }
    Mod+Ctrl+R                                                 { reset-window-height; }
    Mod+M                                                      { maximize-column; }
    Mod+F                                                      { fullscreen-window; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    Mod+Ctrl+F                                                 { expand-column-to-available-width; }

    Mod+C                                                      { center-column; }

    // Center all fully visible columns on screen.
    Mod+Ctrl+C                                                 { center-visible-columns; }

    Mod+Ctrl+H                                                 { set-column-width "-5%"; }
    Mod+Ctrl+L                                                 { set-column-width "+5%"; }

    // Finer height adjustments when in column with other windows.
    Mod+Ctrl+J                                                 { set-window-height "-10%"; }
    Mod+Ctrl+K                                                 { set-window-height "+10%"; }

    // Move the focused window between the floating and the tiling layout.
    Mod+G                                                      { toggle-window-floating; }
    Mod+Shift+G                                                { switch-focus-between-floating-and-tiling; }

    Mod+W                                                      { toggle-column-tabbed-display; }

    Mod+S hotkey-overlay-title="Screenshot selected area"      { screenshot; }
    Mod+Alt+S hotkey-overlay-title="Screenshot window"         { screenshot-window; }
    Mod+Ctrl+S hotkey-overlay-title="Screenshot entire screen" { screenshot-screen; }

    Mod+Escape allow-inhibiting=false                          { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+P                                                { power-off-monitors; }
}

