// https://github.com/YaLTeR/niri/wiki/Configuration
layout {
  gaps 8
  always-center-single-column
  center-focused-column "never"
  background-color "transparent"

  default-column-width { proportion 0.67; }

  border {
      width 2
  }

  focus-ring {
      // width 4
    off
  }
}

spawn-at-startup "dbus-update-activation-environment --systemd WAYLAND_DISPLAY XDG_CURRENT_DESKTOP"
spawn-at-startup "kdeconnect-indicator"
// spawn-at-startup "/usr/libexec/polkit-gnome-authentication-agent-1"
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"
spawn-at-startup "wl-paste --type text --watch cliphist store"
spawn-at-startup "wl-paste --type image --watch cliphist store"

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot_%Y-%m-%d_%H-%M-%S.png"

environment {
  GDK_BACKEND "wayland"
  // QT_STYLE_OVERRIDE "kvantum"
  QT_QPA_PLATFORM "wayland;xcb"
  QT_QPA_PLATFORMTHEME "qt6ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
  QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
  SDL_VIDEODRIVER "wayland"
  CLUTTER_BACKEND "wayland"
  _JAVA_AWT_WM_NONREPARENTING "1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
}

hotkey-overlay {
  skip-at-startup
  hide-not-bound
}

animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    slowdown 0.50
}

window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
    draw-border-with-background false
}

layer-rule {
  match namespace="^launcher$"
  match namespace="^.*notification.*$"

  block-out-from "screencast"
  // opacity 0.95
}

// Put wallpaper in backdrop and make overview transparent for consistent look
layer-rule {
  match namespace="^swww-daemon$"
  match namespace="^wallpaper$"

  place-within-backdrop true
  // opacity 0.95
}

overview {
  zoom 0.6
  workspace-shadow {
    softness 1
    spread 4 
    offset x=0 y=0
    // off
  }
}

cursor {
  xcursor-theme "breeze_cursors"
  xcursor-size 24
}

xwayland-satellite {
  path "xwayland-satellite"
}

include "binds.kdl"
include "displays.kdl"
include "input.kdl"
include "rules.kdl"
include "workspaces.kdl"
include "dms/config.kdl"
// include "waybar/waybar.kdl"
// include "noctalia.kdl"
include "color.kdl"
