/* GTK variable reference https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss */
@import url("style/colors.css");

/* General Bar Styling */
* {
    border: none;
    border-radius: 0px;
    font-family: NotoSans Nerd Font,Noto Sans;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
  background: none
}

#waybar.bar {
  background: alpha(@surface, 1.85);
  padding: 4px 0px;
  min-height: 30px;
}

#batteries {
  background: none;
  border-radius: 6px;
}

.module {
  color: @on_surface;
  background: none;
  border-radius: 6px;
  animation-name: static;

  /* vertical */
  padding: 0px 6px;
  margin: 2px 0px;

  /* horizontal */
  /* padding: 4px 2px; */
  /* margin: 4px 6px; */
}

#workspaces button {
  /* vertical */
  /* margin: 0px 6px; */
  /* horizontal */
  margin: 2px 2px;
  padding: 0px 4px;
  color: @on_surface;
}

#workspaces button.empty {
  color: alpha(@on_surface, 0.50);
}

#workspaces .taskbar-window:hover,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.visible {
  color: @surface;
  background: none;
  font-weight: bold;
  /* vertical */
  /* border-bottom: 2px solid @primary; */
  /* horizontal */
  /* border-right: 2px solid @primary; */
  /* border-left: 2px solid @primary; */
  /* border: 2px solid @primary; */
  background: @primary;
  border-radius: 8px;
}

#workspaces button.urgent {
  color: @error;
}

tooltip * {
  font-family: NotoSans Nerd Font M,Noto Sans Mono;
  font-size: 14px;
  background: none;
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 8px;
  color: @on_surface;
}

tooltip {
  background-color: @surface_container;
  border: 2px solid @surface_container_highest;
  border-radius: 8px;
}

#privacy,
#custom-dunst-notification.alert,
#custom-needrestart {
  color: @error;
}

.modules-left {
  margin-left: 4px;
}
.modules-right {
  margin-right: 4px;
}

*:hover {
  color: alpha(@on_surface, 0.50);
}

#custom-power {
  font-weight: bold;
  color: @error;
}
#custom-power:hover {
  color: alpha(@error, 0.50);
}

#custom-wm_menu {
  font-size: 20px;
  font-weight: bold;
  color: #1793d1;
  animation-name: static;
  /* horizontal */
  padding: 0px 2px;
}

#custom-wm_menu:hover {
  color: alpha(#1793d1,0.5);
}


#tray {
    color: @on-surface;
}
#tray > .active {
    color: @on-surface;
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: @on-surface;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @on-surface;
    background-color: alpha(@error, 0.80);
}

#tray menu * {
    font-size: 13px;
    border-radius: 6px;
    box-shadow: none;
}

#tray menu {
    color: @on-surface;
    border: 1px solid @surface_container;
    background-color: @surface;
    border-radius: 6px;
    margin: 4px;
}

#tray menuitem {
    color: @on-surface;
    padding: 3px 4px;
    margin: 3px 4px;
}

#tray menuitem:hover {
    color: @outline;
}
