/* GTK variable reference https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss */
@import url("colors.css");
* {
    border: none;
    border-radius: 0;
    font-family: NotoSans Nerd Font,Noto Sans;
    font-size: 18px;
    transition-duration: 0s;
    padding: 0 0;
}

window#waybar {
    /* background: alpha(@theme_bg_color, 0.80); */
    background: alpha(@background, 1.00);
    background: none;
    /* border-radius: 6; */
    /* color: @theme_fg_color; */
    color: @foreground;
    /* border-radius: 6; */
    padding: 0 0;
}

tooltip {
    /* background: @theme_bg_color; */
    /* color: @theme_fg_color; */
    background: @background;
    color: @foreground;
    border: 1px solid @color6;
    border-radius: 6;
}

tooltip label {
    padding: 6px;
}

#mpris {
  font-size: 16px;
  padding: 0 4px;
}

#group-audio-drawer {
  margin: 0px;
  padding: 0;
}

#pulseaudio {
  margin: 0px;
}

pulseaudio-slider {
  background: @color6
}

#pulseaudio-slider trough {
  background: @color0;
  min-width: 80px;
}
#pulseaudio-slider slider {
  /* min-height: 30px; */
  /* min-width: 5px; */
  /* color: @color6; */
  /* background: @color6; */
  border-radius: 20px;
  border:none;
  box-shadow: none;
  opacity: 1;
}
#pulseaudio-slider highlight {
  background: @color6;
}

#backlight-slider trough {
  min-width: 80px;
}

#clock {
  font-size: 20px;
}

#workspaces button {
  font-size: 10px;
  padding: 0 4px;
  /* color: @theme_fg_color; */
  color: @foreground;
}

#workspaces button.empty {
  /* color: @unfocused_borders; */
  color: @color8;
}

#workspaces button.visible {
  /* color: @theme_selected_bg_color; */
  color: @color6;
}

#workspaces button.active {
  /* background: @theme_selected_bg_color; */
  background: @color6;
  border-radius: 8px;
  /* color: @theme_selected_bg_color; */
  /* color: @theme_bg_color; */
  color: @background;
  margin: 1px 0;
}

#workspaces button.urgent {
  /* color: @error_color; */
  color: @color1;
}

#window {
  margin-bottom: 4px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    /* background-color: alpha(@warning_color, 0.80); */
    /* color: @theme_fg_color; */
    background-color: alpha(@color3, 0.80);
    color: @foreground;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

box.module button:hover {
    border-radius: 6;
    background: linear-gradient(180deg,@color6 ,@background,@background,@background,@background,@color6);
    color: @foreground;
}

#taskbar {
  margin: 2px 4px;
}

#taskbar button.active {
  /* border: 2px solid @theme_selected_bg_color; */
  /* border: 2px solid @color6; */
  border-radius: 6;
  /* background-color: @theme_selected_bg_color; */
}

#custom-arch_updates,
#custom-flatpak_updates{
    padding: 0 0 0 8px;
}

#custom-check_updates.reboot {
    /* background-color: alpha(@warning_color, 0.80); */
    background-color: alpha(@color3, 0.80);
}

#custom-power {
    font-size: 16px;
    padding: 0 4px 0 0;
}

#network {
    padding: 0 4px 0 4px;
}

#network.disconnected {
    /* background-color: alpha(@warning_color, 0.80); */
    background-color: alpha(@color3, 0.80);
}

#pulseaudio {
    padding: 0 6px 0 2px;
}

#pulseaudio.muted {
    /* background-color: alpha(@error_color, 0.80); */
    /* color: @theme_fg_color; */
    background-color: alpha(@color1, 0.80);
    color: @foreground;
}

#pulseaudio-slider slider {
    border-radius: 12;
    /* background-color: alpha(@color1, 0.80); */
}

#temperature.critical {
    /* background-color: alpha(@warning_color, 0.80); */
    background-color: alpha(@color3, 0.80);
}

#custom-notification {
    font-size: 18px;
}

#tray {
    /* -gtk-icon-source: builtin; */
    /* padding: 0 2px; */
}

#tray > .active {
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    /* background-color: alpha(@warning_color, 0.80); */
    background-color: alpha(@color3, 0.80);
}

#tray menu * {
    background: none;
    border-radius: 6;
    box-shadow: none;
}

#tray menu {
    color: @color6;
    /* background-color: alpha(@theme_bg_color, 1.00); */
    /* border: 1px solid @theme_selected_bg_color; */
    background-color: alpha(@background, 1.00);
    border: 1px solid @color6;
    padding: 4px 6px;
    border-radius: 6;
}

#tray menuitem {
    /*border: 1px solid alpha(@theme_bg_color, 1.00);*/
    padding: 0 6px;
}

#tray menuitem:hover {
    /* color: @theme_selected_fg_color; */
    /* background-color: alpha(@theme_selected_bg_color, 0.70); */
    color: @color0;
    background-color: alpha(@color6, 0.70);
    /*border: 1px solid alpha(@theme_selected_bg_color, 0.70);*/
    padding: 0 6px;
}

#idle_inhibitor {
    /* color: @theme_selected_fg_color; */
    /* background-color: alpha(@theme_fg_color, 0.80); */
    color: @color0;
    background-color: alpha(@foreground, 0.80);
}

#idle_inhibitor.activated {
    /* background-color: alpha(@theme_selected_bg_color, 0.80); */
    /* color: @theme_selected_fg_color; */
    background-color: alpha(@color6, 0.80);
    color: @foreground;
}

#custom-separator {
    padding:0;
    margin: 0 5px;
      /* color: @theme_selected_fg_color; */
}

#modules {
    padding:4;
}

.modules-left,
.modules-right,
.modules-center {
    /* background: alpha(@theme_bg_color, 0.90); */
    background: alpha(@background, 0.90);
    margin: 1px 8px;
    padding: 2px 4px;
    border-radius: 6;
}
