/* GTK variable reference https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss */
@import url("style/colors.css");

/* General Bar Styling */
* {
    border: none;
    border-radius: 0px;
    font-family: NotoSans Nerd Font,Noto Sans;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

/* window#waybar>box { */
/* } */

#waybar {
  background: none
}

#waybar.bar {
  background: alpha(@background, 1.85);
  padding: 4px 0px;
}

#batteries {
  background: none;
  border-radius: 6px;
}

.module {
  color: @on_surface;
  background: none;
  border-radius: 6px;
  animation-name: static;
}

.module.activated {
  color: @primary;
}

tooltip * {
  font-family: NotoSans Nerd Font M,Noto Sans Mono;
  font-size: 14px;
  background: none;
  background-color: transparent;
  border: none;
  padding: 2px;
  border-radius: 8px;
  color: @on_surface;
}

tooltip {
  background-color: @surface_container;
  border: 2px solid @surface_container_highest;
  border-radius: 8px;
}

/* menu { */
/*   color: @on_surface; */
/*   background: @surface; */
/*   border-radius: 6px */
/* } */
/**/
/* menuitem { */
/*   border-radius: 6px */
/* } */
/**/
/**/

#privacy,
#custom-dunst-notification.alert,
#custom-needrestart {
  color: @error;
}

#custom-wm_menu,
#clock,
#custom-dunst-notification,
#custom-weather,
#memory,
#custom-arch_updates,
#custom-aur_updates,
#custom-flatpak_updates,
#custom-updates,
#custom-needrestart,
#privacy,
#gamemode,
#workspaces,
#mpris,
#tray,
#custom-vpn,
#idle_inhibitor,
#system,
#custom-power {
  border: 1px solid @surface_container_highest;
  border-radius: 6px;
  background: @surface_container;
  /* vertical */
  /* padding: 0px 8px; */
  /* margin: 6px 4px; */
  /* horizontal */
  padding: 4px 2px;
  margin: 4px 6px;
}

.modules-left {
  margin-left: 4px;
}
.modules-right {
  margin-right: 4px;
}

*:hover {
  color: alpha(@on_surface, 0.50);
}

@import url("style/power.css");
@import url("style/battery.css");
@import url("style/tray.css");
@import url("style/workspaces.css");
@import url("style/wm_menu.css");
@import url("style/system_group.css");
