  "theme.bar.buttons.modules.cava.background": "{{ module_background }}",
  "theme.bar.buttons.modules.cava.icon_background": "{{ cava }}",
  "theme.bar.buttons.modules.cava.icon": "{{ cava }}",
  "theme.bar.buttons.modules.cava.border": "{{ cava }}",

  "theme.bar.buttons.modules.cpu.icon_background": "{{ cpu }}",
  "theme.bar.buttons.modules.cpu.icon": "{{ cpu }}",
  "theme.bar.buttons.modules.cpu.background": "{{ module_background }}",
  "theme.bar.buttons.modules.cpu.border": "{{ cpu }}",

  "theme.bar.buttons.modules.cpu.hover": "{{ hover }}",
  "theme.bar.buttons.modules.cpuTemp.icon_background": "{{ cputemp | blend(color4) }}",
  "theme.bar.buttons.modules.cpuTemp.icon": "{{ cputemp }}",
  "theme.bar.buttons.modules.cpuTemp.border": "{{ cputemp }}",

  "theme.bar.buttons.modules.submap.background": "{{ module_background }}",
  "theme.bar.buttons.modules.submap.border": "{{ submap }}",
  "theme.bar.buttons.modules.submap.icon": "{{ submap }}",
  "theme.bar.buttons.modules.submap.icon_background": "{{ submap }}",

  "theme.bar.buttons.modules.hyprsunset.icon": "{{ hyprsunset }}",
  "theme.bar.buttons.modules.hyprsunset.background": "{{ module_background }}",
  "theme.bar.buttons.modules.hyprsunset.icon_background": "{{ hyprsunset }}",
  "theme.bar.buttons.modules.hyprsunset.border": "{{ hyprsunset }}",

  "theme.bar.buttons.modules.hypridle.icon": "{{ hypridle }}",
  "theme.bar.buttons.modules.hypridle.background": "{{ module_background }}",
  "theme.bar.buttons.modules.hypridle.icon_background": "{{ hypridle }}",
  "theme.bar.buttons.modules.hypridle.border": "{{ hypridle }}",

  "theme.bar.buttons.modules.kbLayout.icon": "{{ kbLayout }}",
  "theme.bar.buttons.modules.kbLayout.icon_background": "{{ kbLayout }}",
  "theme.bar.buttons.modules.kbLayout.background": "{{ module_background }}",
  "theme.bar.buttons.modules.kbLayout.border": "{{ kbLayout }}",

  "theme.bar.buttons.modules.microphone.border": "{{ microphone }}",
  "theme.bar.buttons.modules.microphone.background": "{{ module_background }}",
  "theme.bar.buttons.modules.microphone.icon": "{{ microphone }}",
  "theme.bar.buttons.modules.microphone.icon_background": "{{ background }}",

  "theme.bar.buttons.modules.ram.icon_background": "{{ ram }}",
  "theme.bar.buttons.modules.ram.icon": "{{ ram }}",
  "theme.bar.buttons.modules.ram.background": "{{ module_background }}",
  "theme.bar.buttons.modules.ram.border": "{{ ram }}",

  "theme.bar.buttons.modules.storage.icon": "{{ storage }}",
  "theme.bar.buttons.modules.storage.background": "{{ module_background }}",
  "theme.bar.buttons.modules.storage.border": "{{ storage }}",

  "theme.bar.buttons.modules.updates.icon_background": "{{ updates }}",
  "theme.bar.buttons.modules.updates.icon": "{{ updates }}",
  "theme.bar.buttons.modules.updates.background": "{{ module_background }}",
  "theme.bar.buttons.modules.updates.border": "{{ updates }}",

  "theme.bar.buttons.modules.weather.icon_background": "{{ weather }}",
  "theme.bar.buttons.modules.weather.icon": "{{ weather }}",
  "theme.bar.buttons.modules.weather.background": "{{ module_background }}",
  "theme.bar.buttons.modules.weather.border": "{{ weather }}",

  "theme.bar.buttons.windowtitle.icon_background": "{{ windowtitle }}",
  "theme.bar.buttons.windowtitle.icon": "{{ windowtitle }}",
  "theme.bar.buttons.windowtitle.border": "{{ windowtitle }}",
  "theme.bar.buttons.windowtitle.background": "{{ module_background }}",
