  "theme.bar.menus.menu.battery.slider.puck": "{{ puck }}",
  "theme.bar.menus.menu.battery.slider.backgroundhover": "{{ hover }}",
  "theme.bar.menus.menu.battery.slider.background": "{{ background | lighten(0.1) }}",
  "theme.bar.menus.menu.battery.slider.primary": "{{ battery | darken(0.4) }}",
  "theme.bar.menus.menu.battery.icons.active": "{{ battery }}",
  "theme.bar.menus.menu.battery.icons.passive": "{{ foreground }}",
  "theme.bar.menus.menu.battery.listitems.active": "{{ battery }}",
  "theme.bar.menus.menu.battery.listitems.passive": "{{ foreground }}",
  "theme.bar.menus.menu.battery.text": "{{ foreground }}",
  "theme.bar.menus.menu.battery.label.color": "{{ battery }}",
  "theme.bar.menus.menu.battery.border.color": "{{ accent }}",
  "theme.bar.menus.menu.battery.background.color": "{{ background }}",
  "theme.bar.menus.menu.battery.card.color": "{{ card }}",

  "theme.bar.buttons.battery.icon_background": "{{ battery }}",
  "theme.bar.buttons.battery.icon": "{{ battery }}",
  "theme.bar.buttons.battery.background": "{{ module_background }}",
  "theme.bar.buttons.battery.border": "{{ battery }}",

  "theme.bar.buttons.battery.hover": "{{ hover }}",
