  "theme.bar.menus.menu.bluetooth.iconbutton.active": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.iconbutton.passive": "{{ foreground }}",
  "theme.bar.menus.menu.bluetooth.icons.active": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.icons.passive": "{{ foreground }}",
  "theme.bar.menus.menu.bluetooth.listitems.active": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.listitems.passive": "{{ foreground }}",
  "theme.bar.menus.menu.bluetooth.switch.puck": "{{ puck }}",
  "theme.bar.menus.menu.bluetooth.switch.disabled": "{{ disabled }}",
  "theme.bar.menus.menu.bluetooth.switch.enabled": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.switch_divider": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.status": "{{ bluetooth | darken(0.2) }}",
  "theme.bar.menus.menu.bluetooth.text": "{{ foreground }}",
  "theme.bar.menus.menu.bluetooth.label.color": "{{ bluetooth }}",
  "theme.bar.menus.menu.bluetooth.border.color": "{{ accent }}",
  "theme.bar.menus.menu.bluetooth.background.color": "{{ background }}",
  "theme.bar.menus.menu.bluetooth.card.color": "{{ card }}",

  "theme.bar.buttons.bluetooth.icon_background": "{{ bluetooth }}",
  "theme.bar.buttons.bluetooth.icon": "{{ bluetooth }}",
  "theme.bar.buttons.bluetooth.background": "{{ module_background }}",
  "theme.bar.buttons.bluetooth.border": "{{ bluetooth }}",

  "theme.bar.menus.menu.bluetooth.scroller.color": "{{ bluetooth }}",

  "theme.bar.buttons.bluetooth.hover": "{{ hover }}",
