  "theme.bar.menus.menu.clock.weather.hourly.icon": "{{ weather }}",
  "theme.bar.menus.menu.clock.weather.thermometer.extremelycold": "{{ color6 }}",
  "theme.bar.menus.menu.clock.weather.thermometer.cold": "{{ color6 | lighten(0.2) }}",
  "theme.bar.menus.menu.clock.weather.thermometer.moderate": "{{ color5 }}",
  "theme.bar.menus.menu.clock.weather.thermometer.hot": "{{ color1 | lighten(0.1) }}",
  "theme.bar.menus.menu.clock.weather.thermometer.extremelyhot": "{{ color1 }}",
  "theme.bar.menus.menu.clock.weather.status": "{{ color6 }}",
  "theme.bar.menus.menu.clock.weather.temperature": "{{ foreground }}",
  "theme.bar.menus.menu.clock.weather.icon": "{{ weather }}",
  "theme.bar.menus.menu.clock.calendar.contextdays": "{{ weather_accent1 }}",
  "theme.bar.menus.menu.clock.calendar.days": "{{ foreground }}",
  "theme.bar.menus.menu.clock.calendar.currentday": "{{ weather }}",
  "theme.bar.menus.menu.clock.calendar.paginator": "{{ weather }}",
  "theme.bar.menus.menu.clock.calendar.weekdays": "{{ weather }}",
  "theme.bar.menus.menu.clock.calendar.yearmonth": "{{ weather_accent2 }}",
  "theme.bar.menus.menu.clock.time.timeperiod": "{{ weather_accent2 }}",
  "theme.bar.menus.menu.clock.text": "{{ foreground }}",
  "theme.bar.menus.menu.clock.border.color": "{{ accent }}",
  "theme.bar.menus.menu.clock.background.color": "{{ background }}",
  "theme.bar.menus.menu.clock.card.color": "{{ card }}",

  "theme.bar.buttons.clock.icon_background": "{{ weather }}",
  "theme.bar.buttons.clock.icon": "{{ weather }}",
  "theme.bar.buttons.clock.background": "{{ module_background }}",
  "theme.bar.buttons.clock.border": "{{ weather }}",

  "theme.bar.buttons.modules.worldclock.background": "{{ module_background }}",
  "theme.bar.buttons.modules.worldclock.icon_background": "{{ worldclock }}",
  "theme.bar.buttons.modules.worldclock.icon": "{{ worldclock }}",
  "theme.bar.buttons.modules.worldclock.border": "{{ worldclock }}",

  "theme.bar.buttons.clock.hover": "{{ hover }}",
