  "theme.bar.menus.menu.media.slider.puck": "{{ puck }}",
  "theme.bar.menus.menu.media.slider.backgroundhover": "{{ hover }}",
  "theme.bar.menus.menu.media.slider.background": "{{ background }}",
  "theme.bar.menus.menu.media.slider.primary": "{{ media_album }}",
  "theme.bar.menus.menu.media.buttons.text": "{{ button_text }}",
  "theme.bar.menus.menu.media.buttons.background": "{{ media }}",
  "theme.bar.menus.menu.media.buttons.enabled": "{{ media }}",
  "theme.bar.menus.menu.media.buttons.inactive": "{{ inactive }}",
  "theme.bar.menus.menu.media.border.color": "{{ accent }}",
  "theme.bar.menus.menu.media.card.color": "{{ card }}",
  "theme.bar.menus.menu.media.background.color": "{{ background }}",

  "theme.bar.buttons.media.icon_background": "{{ media }}",
  "theme.bar.buttons.media.icon": "{{ media }}",
  "theme.bar.buttons.media.background": "{{ module_background }}",
  "theme.bar.buttons.media.border": "{{ media }}",

  "theme.bar.menus.menu.media.timestamp": "{{ foreground }}",

  "theme.bar.buttons.media.hover": "{{ hover }}",
