  "theme.bar.menus.menu.network.iconbuttons.active": "{{ network }}",
  "theme.bar.menus.menu.network.iconbuttons.passive": "{{ card }}",
  "theme.bar.menus.menu.network.icons.active": "{{ network }}",
  "theme.bar.menus.menu.network.icons.passive": "{{ foreground }}",
  "theme.bar.menus.menu.network.listitems.active": "{{ network }}",
  "theme.bar.menus.menu.network.listitems.passive": "{{ foreground }}",
  "theme.bar.menus.menu.network.status.color": "{{ network | darken(0.2) }}",
  "theme.bar.menus.menu.network.text": "{{ foreground }}",
  "theme.bar.menus.menu.network.label.color": "{{ network }}",
  "theme.bar.menus.menu.network.border.color": "{{ accent }}",
  "theme.bar.menus.menu.network.background.color": "{{ background }}",
  "theme.bar.menus.menu.network.card.color": "{{ card }}",

  "theme.bar.buttons.modules.netstat.icon_background": "{{ netstat }}",
  "theme.bar.buttons.modules.netstat.icon": "{{ netstat }}",
  "theme.bar.buttons.modules.netstat.background": "{{ module_background }}",
  "theme.bar.buttons.modules.netstat.border": "{{ netstat }}", "theme.bar.buttons.modules.storage.icon_background": "{{ storage }}",

  "theme.bar.buttons.network.icon_background": "{{ network }}",
  "theme.bar.buttons.network.icon": "{{ network }}",
  "theme.bar.buttons.network.background": "{{ module_background }}",
  "theme.bar.buttons.network.border": "{{ network }}",

  "theme.bar.menus.menu.network.switch.enabled": "{{ network }}",
  "theme.bar.menus.menu.network.switch.disabled": "{{ disabled }}",
  "theme.bar.menus.menu.network.switch.puck": "{{ puck }}",

  "theme.bar.menus.menu.network.scroller.color": "{{ network }}",

  "theme.bar.buttons.network.hover": "{{ hover }}",
