
  "theme.bar.menus.menu.notifications.scrollbar.color": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.pager.label": "{{ notifications | darken(0.2) }}",
  "theme.bar.menus.menu.notifications.pager.button": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.pager.background": "{{ background }}",
  "theme.bar.menus.menu.notifications.switch.puck": "{{ puck }}",
  "theme.bar.menus.menu.notifications.switch.disabled": "{{ disabled }}",
  "theme.bar.menus.menu.notifications.switch.enabled": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.clear": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.switch_divider": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.border": "{{ accent }}",
  "theme.bar.menus.menu.notifications.card": "{{ card }}",
  "theme.bar.menus.menu.notifications.background": "{{ background }}",
  "theme.bar.menus.menu.notifications.no_notifications_label": "{{ notifications }}",
  "theme.bar.menus.menu.notifications.label": "{{ notifications }}",

  "theme.bar.menus.menu.dashboard.controls.notifications.text": "{{ foreground }}",
  "theme.bar.menus.menu.dashboard.controls.notifications.background": "{{ notifications }}",

  "theme.bar.buttons.notifications.icon_background": "{{ notifications }}",
  "theme.bar.buttons.notifications.icon": "{{ notifications }}",
  "theme.bar.buttons.notifications.background": "{{ module_background }}",
  "theme.bar.buttons.notifications.border": "{{ accent }}",

  "theme.notification.close_button.label": "{{ button_text }}",
  "theme.notification.close_button.background": "{{ notifications }}",
  "theme.notification.labelicon": "{{ notifications }}",
  "theme.notification.text": "{{ foreground }}",
  "theme.notification.time": "{{ foreground }}",
  "theme.notification.border": "{{ background }}",
  "theme.notification.label": "{{ notifications }}",
  "theme.notification.actions.text": "{{ background }}",
  "theme.notification.actions.background": "{{ notifications }}",
  "theme.notification.background": "{{ card }}",

  "theme.bar.buttons.notifications.hover": "{{ hover }}",
