  "theme.bar.menus.menu.power.buttons.sleep.icon": "{{ button_text }}",
  "theme.bar.menus.menu.power.buttons.sleep.icon_background": "{{ power_sleep }}",
  "theme.bar.menus.menu.power.buttons.sleep.background": "{{ card }}",
  "theme.bar.menus.menu.power.buttons.logout.icon": "{{ button_text }}",
  "theme.bar.menus.menu.power.buttons.logout.icon_background": "{{ power_logout }}",
  "theme.bar.menus.menu.power.buttons.logout.background": "{{ card }}",
  "theme.bar.menus.menu.power.buttons.restart.icon": "{{ button_text }}",
  "theme.bar.menus.menu.power.buttons.restart.icon_background": "{{ power_restart }}",
  "theme.bar.menus.menu.power.buttons.restart.background": "{{ card }}",
  "theme.bar.menus.menu.power.buttons.shutdown.icon": "{{ button_text }}",
  "theme.bar.menus.menu.power.buttons.shutdown.icon_background": "{{ power_shutdown }}",
  "theme.bar.menus.menu.power.buttons.shutdown.background": "{{ card }}",
  "theme.bar.menus.menu.power.border.color": "{{ accent }}",
  "theme.bar.menus.menu.power.background.color": "{{ background }}",

  "theme.bar.buttons.modules.power.icon_background": "{{ power_shutdown }}",
  "theme.bar.buttons.modules.power.icon": "{{ power_shutdown }}",
  "theme.bar.buttons.modules.power.background": "{{ module_background }}",
  "theme.bar.buttons.modules.power.border": "{{ power_shutdown }}",

  "theme.bar.menus.menu.power.card.color": "{{ card }}",
