  "theme.bar.menus.menu.volume.input_slider.puck": "{{ puck }}",
  "theme.bar.menus.menu.volume.input_slider.backgroundhover": "{{ hover }}",
  "theme.bar.menus.menu.volume.input_slider.background": "{{ background }}",
  "theme.bar.menus.menu.volume.input_slider.primary": "{{ volume }}{{ 60 | alpha_hexa }}",
  "theme.bar.menus.menu.volume.audio_slider.puck": "{{ puck }}",
  "theme.bar.menus.menu.volume.audio_slider.backgroundhover": "{{ hover }}",
  "theme.bar.menus.menu.volume.audio_slider.background": "{{ background }}",
  "theme.bar.menus.menu.volume.audio_slider.primary": "{{ volume }}{{ 60 | alpha_hexa }}",
  "theme.bar.menus.menu.volume.icons.active": "{{ volume }}",
  "theme.bar.menus.menu.volume.icons.passive": "{{ foreground }}{{ 30 | alpha_hexa }}",
  "theme.bar.menus.menu.volume.iconbutton.active": "{{ volume }}",
  "theme.bar.menus.menu.volume.iconbutton.passive": "{{ foreground }}{{ 30 | alpha_hexa }}",
  "theme.bar.menus.menu.volume.listitems.active": "{{ volume }}",
  "theme.bar.menus.menu.volume.listitems.passive": "{{ foreground }}{{ 30 | alpha_hexa }}",
  "theme.bar.menus.menu.volume.text": "{{ foreground }}",
  "theme.bar.menus.menu.volume.label.color": "{{ volume }}",
  "theme.bar.menus.menu.volume.border.color": "{{ accent }}",
  "theme.bar.menus.menu.volume.background.color": "{{ background }}",
  "theme.bar.menus.menu.volume.card.color": "{{ card }}",

  "theme.bar.buttons.volume.icon_background": "{{ volume }}",
  "theme.bar.buttons.volume.icon": "{{ volume }}",
  "theme.bar.buttons.volume.background": "{{ module_background }}",
  "theme.bar.buttons.volume.border": "{{ volume }}",

  "theme.bar.buttons.volume.hover": "{{ hover }}",

  "theme.bar.buttons.volume.output_icon": "{{ button_text }}",
  "theme.bar.buttons.volume.input_icon": "{{ button_text }}",
  "theme.bar.buttons.volume.separator": "{{ volume }}",
