  "theme.bar.buttons.workspaces.active": "{{ workspaces }}",
  "theme.bar.buttons.workspaces.available": "{{ foreground }}{{35 | alpha_hexa}}",

  "theme.bar.buttons.workspaces.hover": "{{ workspaces }}",
  "theme.bar.buttons.workspaces.occupied": "{{ workspaces }}{{65 | alpha_hexa}}",
  "theme.bar.buttons.workspaces.border": "{{ workspaces }}",
  "theme.bar.buttons.workspaces.background": "{{ module_background }}",

  "theme.bar.buttons.workspaces.numbered_active_text_color": "{{ workspaces }}",
  "theme.bar.buttons.workspaces.numbered_active_underline_color": "{{ workspaces }}",
  "theme.bar.buttons.workspaces.numbered_active_highlighted_text_color": "{{ button_text }}",
