window {
    background-color: alpha(@theme_bg_color, 0.9);
    color: @theme_fg_color;
    padding: 0px;
    margin: 0px;
    /* filter: blur(2px); */
    /* margin: 10; */
    /* padding: 4px 0 4px 0; */
}

#launcher, #powermenu {
  border-radius: 0 0 10px 10px;
  background-color: @theme_bg_color;
}

button {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

button:hover,
button:active {
    color: @theme_bg_color;
    background-color: @theme_selected_bg_color;
}

/* #launcher { */
/*   border */
/* } */

label {
    font-weight: bold;
}

.bar {
  /* background-color: alpha(@theme_bg_color, 0.9); */
  padding: 0px;
  margin: 0px;
  /* color: @theme_fg_color; */
}

.client-title {
    color: @theme_selected_bg_color;
}

.clock {
  padding-right: 8px;
}

levelbar block,
highlight {
    min-height: 10px;
}

window.notification-popups box.notifications {
    padding: 1px;
    border-radius: 20px;
} 

.icon {
    min-width: 68px;
    min-height: 68px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 68px;
    min-height: 68px;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid @theme_fg_color;
    border-radius: 20px;
}

.notification.normal {
    border: 1px solid @theme_selected_bg_color;
}

.notification.critical {
    border: 1px solid @error_color;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
